<% provide(:title, "About") %>

<div class="jumbotron jumbotron-about">
    <h2><b><%= phrase('who-we-are-title') %></b></h2>  
</div>

<div class="container center top-description">
  <h4><%= phrase('who-we-are-top-description') %></h4>
</div>
<hr>
 
<div class="container about-content">     
	<div class="row">
    	<div class="col-md-5">
        <%= image_tag('beading.jpg', size: "430x300") %>
    	</div>
   	 <div class="col-md-7">
        	<h3><%= phrase('who-we-are-div1-head') %></h3>
        	<h4><%= phrase('who-we-are-div1-subhead') %></h4>
       	 	<p><%= phrase('who-we-are-div1-description') %></p>
          <%= link_to('#', href: users_path, class: "btn btn-primary") do %> 
            Meet our team!
            <span class="glyphicon glyphicon-chevron-right"</span>
          <% end %> 
    	</div>
	</div>
	<hr>
	<div class="row">
    	<div class="col-md-5 col-md-push-7">
        	<%= image_tag('edc.png', size: "430x300") %>
    	</div>
   	 <div class="col-md-7 col-md-pull-5">
        	<h3><%= phrase('who-we-are-div2-head') %></h3>
          <h4><%= phrase('who-we-are-div2-subhead') %></h4>
          <p><%= phrase('who-we-are-div2-description') %></p>
          <%= link_to('#', href: events_path, class: "btn btn-primary") do %> 
            Our Calendar
            <span class="glyphicon glyphicon-chevron-right"</span>
          <% end %> 
    	</div>
	</div>
	<hr>
	<div class="row">
    	<div class="col-md-5">
        	<%= image_tag('water.jpg', size: "430x300") %>
    	</div>
   	 <div class="col-md-7">
        	<h3><%= phrase('who-we-are-div3-head') %></h3>
          <h4><%= phrase('who-we-are-div3-subhead') %></h4>
          <p><%= phrase('who-we-are-div3-description') %></p>
          <%= link_to('#', href: 'https://www.we.org', class: "btn btn-primary") do %> 
            WE Charity Website
            <span class="glyphicon glyphicon-chevron-right"</span>
          <% end %> 
    	</div>
	</div>
</div>

