<% provide(:title, "About") %>

<div class="jumbotron jumbotron-about">
    <h1><%= phrase('who-we-are-title') %></h1>  
</div>

<br>
<center>
  <p><%= phrase('who-we-are-top-description') %></p>
</center>
<br>
<hr>
 
<div class="container">     
	<div class="row">

    	<div class="col-md-7">
        	<a href="#">
            	<img class="img-responsive" src="http://cdn.freethechildren.com/wp-content/uploads/2015/12/who-we-are-1.jpg" alt="">
       	 </a>
    	</div>
   	 <div class="col-md-5">
        	<h3><%= phrase('who-we-are-div1-head') %></h3>
        	<h4><%= phrase('who-we-are-div1-subhead') %></h4>
       	 	<p><%= phrase('who-we-are-div1-description') %></p>
          <%= link_to("#", href: users_path, class: "btn btn-primary") do %> 
            Button 1
            <span class="glyphicon glyphicon-chevron-right"</span>
          <% end %> 
    	</div>
	</div>
	<hr>
	<div class="row">
    	<div class="col-md-7 col-md-push-5">
        	<a href="#">
            	<img class="img-responsive" src="http://cdn.freethechildren.com/wp-content/uploads/2015/12/who-we-are-3.jpg" alt="">
       	 </a>
    	</div>
   	 <div class="col-md-5 col-md-pull-7">
        	<h3><%= phrase('who-we-are-div2-head') %></h3>
          <h4><%= phrase('who-we-are-div2-subhead') %></h4>
          <p><%= phrase('who-we-are-div2-description') %></p>
          <%= link_to("#", href: users_path, class: "btn btn-primary") do %> 
            Button 2
            <span class="glyphicon glyphicon-chevron-right"</span>
          <% end %> 
    	</div>
	</div>
	<hr>
	<div class="row">
    	<div class="col-md-7">
        	<a href="#">
            	<img class="img-responsive" src="http://cdn.freethechildren.com/wp-content/uploads/2015/12/who-we-are-4.jpg" alt="">
       	 </a>
    	</div>
   	 <div class="col-md-5">
        	<h3><%= phrase('who-we-are-div3-head') %></h3>
          <h4><%= phrase('who-we-are-div3-subhead') %></h4>
          <p><%= phrase('who-we-are-div3-description') %></p>
          <%= link_to("#", href: users_path, class: "btn btn-primary") do %> 
            Button 3
            <span class="glyphicon glyphicon-chevron-right"</span>
          <% end %> 
    	</div>
	</div>
</div>

