<% provide(:title, "Contact Us") %>

<div class="container-fluid contact-main">
	<div class="col-sm-6">
		<h1>Contact Us</h1>
	</div>
</div>

<div class="container contact-split">
  <div class="col-sm-6 contact-form">
  	<p><b>Contact us directly</b></p>
	<% @mbox_placeholder = 'Your Message (maximum 1000 characters, minimum 20)*' %>
	<%= form_for @message, url: contact_path do |f| %>
	  <%= f.text_field :name, placeholder: 'Name*', class: 'form-control' %>
   	  <%= f.email_field :email, placeholder: 'Email*', class: 'form-control' %>
   	  <%= f.text_field :subject, placeholder: 'Subject', class: 'form-control' %>
  	  <%= f.text_area :content, placeholder: @mbox_placeholder, class: 'form-control' %>
  	  <%= f.submit "Send", class: "btn btn-primary" %>
  	  <p><small>*Required Field</small></p>
	<% end %>
  </div>
  <div class="col-sm-6 contact-info">
	<p><b>Or come visit!</b></p>
	<p>You can locate us ...</p>
  </div>
  
</div>

