<% provide(:title, "Evolution Endurance Dance Challenge") %>

<div class="jumbotron jumbotron-event">
  <div class="center container-fluid event-background">
	<h1><%= phrase('ee-dance-challenge-header') %></h1>	
	<p><%= phrase('ee-dance-challenge-description') %></p>
	
	<div class="container center upcoming">
		<h3><%= phrase('ee-upcoming-event-info') %></h3>
		<p><%= phrase('ee-where-info') %></p>
		<p><%= phrase('ee-when-info') %></p>
    <% if logged_in? && @ee_challenge_event %>
		  <%= link_to "Sign up now!", event_path(@ee_challenge_event), class: "btn btn-lg btn-primary" %> 
    <% end %>
	</div>

  	<div class="container center past">
  	  <h2><%= phrase('past-ee-events') %></h2>
  	  <h4><a href="#2014">2014</a> / <a href="#2013">2013</a></h4>

  	  <div class="container past-event" id="2014">
  	  	<h3>2014</h3>
  		Image Galley, videos, anything. 
  	  </div>
  	  <div class="container past-event" id="2013">
  	  	<h3>2013</h3>
  		Image Galley, videos, anything. 
  	  </div>
  	</div>
  </div>
</div>

