<div class="jumbotron jumbotron-home">
	<div class="center container-fluid">
	  <div class="text-holder">
		<h1><%= phrase('home-page-main-title') %></h1>
		<h2><%= phrase('home-page-sub-title') %></h2>

		<div class="links"> 
			<%= link_to "Join", get_involved_path, class: "btn btn-lg btn-primary" %> 
			<%= link_to "Donate", 'http://www.freethechildren.com/donate/', class: "btn btn-lg btn-primary" %> 
		</div>
	  </div>
	</div>
</div>

<div class="homepage-mission">
  <div class="container">
    <div class="col-sm-8 col-sm-offset-2" id="mission">
      <h1><b><%= phrase('mission-statement') %></b></h1>
      <h3> <%= phrase('mission-statement-text') %></h3>
    </div>
    <!-- <div class="col-sm-4 img-responsive">
      <%= link_to image_tag("im4.png", alt: "img1", size: "300x200"), what_we_do_path, id: "im1" %>
    </div> -->
  </div>
</div>


<div class="container homepage-links center">
  <div class="col-sm-4">
    <%= image_tag("filler2.png", alt: "img1", size: "300x200") %>
    <%= link_to phrase('about-us'), about_path, class: "btn btn-primary" %>
  </div>
  <div class="col-sm-4">
    <%= image_tag("im4.png", alt: "img1", size: "300x200") %>
    <%= link_to phrase('our-members'), users_path, class: "btn btn-primary" %>
  </div>
  <div class="col-sm-4">
    <%= image_tag("team1.png", alt: "img1", size: "300x200") %>
    <%= link_to phrase('events'), events_path, class: "btn btn-primary" %>
  </div>
  <div class="col-sm-8 col-sm-offset-2 center sep">
      <h3><%= phrase('home-page-motto') %></h3>
  </div>
</div>

