<div class="jumbotron jumbotron-home">
	<div class="center container-fluid">
	  <div class="text-holder">
		<h1><%= phrase('home-page-main-title') %></h1>
		<h2><%= phrase('home-page-sub-title') %></h2>

		<div class="links"> 
			<%= link_to "Join", get_involved_path, class: "btn btn-lg btn-primary" %> 
			<%= link_to "Donate", 'http://www.freethechildren.com/donate/', class: "btn btn-lg btn-primary" %> 
		</div>
	  </div>
	</div>
</div>

<div class="homepage-mission">
  <div class="container">
    <div class="col-sm-8">
    <p><b><%= phrase('home-page-desc-bold') %></b><%= phrase('home-page-description') %></p>
    </div>
    <div class="col-sm-4 img-responsive">
      <%= link_to image_tag("filler1.png", alt: "img1", size: "300x150"), what_we_do_path, id: "im1" %>
    </div>
  </div>
</div>


<div id="mainCarousel" class="carousel slide" data-ride="carousel">
 	<!-- Indicators -->
  		<ol class="carousel-indicators">
    		<li data-target="#mainCarousel" data-slide-to="0" class="active"></li>
    		<li data-target="#mainCarousel" data-slide-to="1"></li>
    		<li data-target="#mainCarousel" data-slide-to="2"></li>
    		<li data-target="#mainCarousel" data-slide-to="3"></li>
  		</ol>

  	<!-- Wrapper for slides -->
  	<div class="carousel-inner" role="listbox">
    	<div class="item active">
      		<%= link_to image_tag("carnival", alt: "carnival"), '#' %>
      		<div class="carousel-caption">
      			<h3><%= phrase('home-page-carousel-caption1') %></h3>
      			<p><%= phrase('home-page-carousel-desc1') %></p>
      		</div>
    	</div>

    	<div class="item">
      		<%= link_to image_tag("carnival", alt: "carnival"), '#', class: "img-responsive center-block" %>
      		<div class="carousel-caption">
      			<h3><%= phrase('home-page-carousel-caption2') %></h3>
      			<p><%= phrase('home-page-carousel-desc2') %></p>
      		</div>      		
    	</div>

    	<div class="item">
      		<%= link_to image_tag("carnival", alt: "carnival"), '#' %>
      		<div class="carousel-caption">
      			<h3><%= phrase('home-page-carousel-caption3') %></h3>
      			<p><%= phrase('home-page-carousel-desc3') %></p>
      		</div>
    	</div>

    	<div class="item">
      		<%= link_to image_tag("carnival", alt: "carnival"), '#' %>
      		<div class="carousel-caption">
      			<h3><%= phrase('home-page-carousel-caption4') %></h3>
      			<p><%= phrase('home-page-carousel-desc4') %></p>
      		</div>      		
    	</div>
  	</div>

  	<!-- Left and right controls -->
  	<a class="left carousel-control" href="#mainCarousel" role="button" data-slide="prev">
    	<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    	<span class="sr-only">Previous</span>
  	</a>
  	<a class="right carousel-control" href="#mainCarousel" role="button" data-slide="next">
    	<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    	<span class="sr-only">Next</span>
  	</a>
</div>




