<% provide(:title, "Mini WE Day") %>

<div class="jumbotron jumbotron-event">
  <div class="center container-fluid event-background">
	<h1>Mini <%= link_to image_tag("WE_logo", alt: "WE", size: "80x80") %> Day</h1>	
	<p><%= phrase('mini-we-day-description') %></p>

	<div class="container center upcoming">
    <h3><%= phrase('mini-we-day-upcoming-event-info') %></h3>
    <p><%= phrase('mini-we-day-where-info') %></p>
    <p><%= phrase('mini-we-day-when-info') %></p>
    <% if logged_in? && @mini_we_day_event %>
      <%= link_to "Sign up now!", event_path(@mini_we_day_event), class: "btn btn-lg btn-primary" %> 
    <% end %>
  </div>

  	<div class="container center past">
  	  <h2><%= phrase('mini-we-day-past-events') %></h2>
  	  <h4><a href="#2014">2014</a> / <a href="#2013">2013</a></h4>

  	  <div class="container past-event" id="2014">
  	  	<h3>2014</h3>
  		Image Galley, videos, anything. 
  	  </div>
  	  <div class="container past-event" id="2013">
  	  	<h3>2013</h3>
  		Image Galley, videos, anything. 
  	  </div>
  	</div>
  </div>
</div>
