<% provide(:title, "Vow of Silence") %>

<div class="jumbotron jumbotron-event">
  <div class="center container-fluid event-background">
	 <h1><%= phrase('vos-header') %></h1>  
    <p><%= phrase('vos-description') %></p>
  
    <div class="container center upcoming">
      <h3><%= phrase('vos-upcoming-event-info') %></h3>
      <p><%= phrase('vos-where-info') %></p>
      <p><%= phrase('vos-when-info') %></p>
      <% if logged_in? && @vow_of_silence_event %>
        <%= link_to "Sign up now!", event_path(@vow_of_silence_event), class: "btn btn-lg btn-primary" %> 
      <% end %>
    </div>
  	</div>
</div>
