<% provide(:title, "What We Do") %>

<div class="jumbotron jumbotron-events">
	<h1><%= phrase('what-we-do-title') %></h1>
</div>

<div class="container center events-filler-top">
  <h3><%= phrase('what-we-do-top-description-head') %></h3>
	<p><%= phrase('what-we-do-top-description') %></p>
</div>

<div class="container what-we-do-info">
  <div class="col-sm-8 tile tile-1 center">
    <%= link_to image_tag("filler2.png"), '#' %>
    <h3><%= phrase('what-we-do-1') %></h3>
    <p><%= phrase('hover-text-1') %></p>
  </div>
  <div class="col-sm-4 tile tile-2 center">
    <%= link_to image_tag("im2.png"), '#' %>
    <h3><%= phrase('what-we-do-2') %></h3>
    <p><%= phrase('hover-text-2') %></p>
  </div>
  <div class="col-sm-6 tile tile-3 center">
    <%= link_to image_tag("filler1.png"), '#' %>
    <h3><%= phrase('what-we-do-3') %></h3>
    <p><%= phrase('hover-text-3') %></p>
  </div>
  <div class="col-sm-6 tile tile-4 center">
    <%= link_to image_tag("filler4.png"), '#' %>
    <h3><%= phrase('what-we-do-4') %></h3>
    <p><%= phrase('hover-text-4') %></p>
  </div>
  <div class="col-sm-8 tile tile-5 center">
    <%= link_to image_tag("filler3.png"), '#' %>
    <h3><%= phrase('what-we-do-5') %></h3>
    <p><%= phrase('hover-text-5') %></p>
  </div>
  <div class="col-sm-4 tile tile-6 center">
    <%= link_to image_tag("im3.png"), '#' %>
    <h3><%= phrase('what-we-do-6') %></h3>
    <p><%= phrase('hover-text-6') %></p>
  </div>
</div>

<div class="container center events-filler-bottom">
	<p><%= phrase('what-we-do-bottom-description') %></p>
</div>
