<!-- Partial for article form -->

<%= form_for(@article, action: yield(:form_action), html: { multipart: true }) do |f| %>
	<% @object = @article %>
	<%= render 'shared/error_messages' %>
    <%= f.text_field :title, placeholder: 'Title', class: 'form-control' %>
    <%= f.text_area :text, placeholder: 'Write your heart out!', class: 
   		'form-control' %>
   	<div class="article-picture-uploads">
   		<p><strong>Picture 1 (Primary Photo)</strong><%= f.file_field :image1, accept: 'image/jpeg,image/gif,image/png', id: 'uploader' %></p>
   		<%= f.hidden_field :image1_cache %>
		<p><strong>Picture 2 </strong><%= f.file_field :image2, accept: 'image/jpeg,image/gif,image/png', id: 'uploader' %></p>
		<%= f.hidden_field :image2_cache %>
		<p><strong>Picture 3 </strong><%= f.file_field :image3, accept: 'image/jpeg,image/gif,image/png', id: 'uploader' %></p>
		<%= f.hidden_field :image3_cache %>
		<p><strong>Picture 4 </strong><%= f.file_field :image4, accept: 'image/jpeg,image/gif,image/png', id: 'uploader' %></p>
		<%= f.hidden_field :image4_cache %>	
	</div>
	<%= f.submit yield(:form_button), class: "btn btn-primary" %>
<% end %>