<% provide(:title, "Club Updates") %>

<div class="jumboton jumbotron-articles">
	<h1><%= phrase('club-updates-title') %></h1>
	<h2><% if admin? %>
		<%= render 'articles/new_article_modal' %>
	<% end %> </h2>
</div>
<div class="center"><%= will_paginate %></div>
<div class="container article-index">
	<div class="container">
 		<%= render @articles %>
 	</div>
</div>
<div class="center"><%= will_paginate %></div>
 
 