<% provide(:title, @article.title) %>

<div class="container-fluid article-title">
	<h1><%= @article.title %> 
	<% if admin? %>
 	 | <%= render 'update_article_modal' %> 
 	 <br />
 	<% end %> </h1>
	<p>Posted <%= time_ago_in_words(@article.created_at) %> ago
	| <%= link_to "Back to all Updates", articles_path %>
	<% if admin? %>
		| <%= link_to "Delete" %>
	<% end %>
	</p>
</div>
<div class="container center article-main">
	<% if admin? %>
 		<div class="center delete-pictures">
 			<% 4.times do |n| %>
				<% pic = "@article[:image#{n+1}]" %>
				<% if eval(pic) %>
					<% if n != 0 %> | <% end %>
				 	<%= link_to "Delete Picture #{n+1}", home_delete_article_picture_path(article_id: @article.id, picture_id: "#{n+1}") %>
				<% end %>
			<% end %>		
 		</div>
 	<% end %>
 	<div class="col-sm-10 col-sm-offset-1 center image-holder">
 		<% 4.times do |n| %>
 			<% pic = "@article[:image#{n+1}]" %>
 			<% if eval(pic) %>
 				<%= image_tag(eval("@article.image#{n+1}")) %>
 			<% end %>
 		<% end %>
 	</div>
 	<div class="col-sm-8 col-sm-offset-2 description">
 		<p><%= @article.text %></p>	
 	</div>	
</div>
