<!-- Partial for the standard user fill in form of name, email, password 
      and password comfirmation --> 

<%= form_for(@user, html: { multipart: true }) do |f| %>
  <% @object = @user %>
  <%= render 'shared/error_messages' %>
  <%= f.text_field :name, placeholder: 'name', class: 'form-control' %>
  <%= f.email_field :email,placeholder: 'email', class: 'form-control' %>
  <%= f.password_field :password, placeholder: 'password', class: 'form-control' %>
  <%= f.password_field :password_confirmation, placeholder: 'password-confirmation', 
    class: 'form-control' %>

  <% unless request.original_fullpath == '/get-involved' %>
    <strong>Choose a profile picture</strong>
    <br/>
    <div class="col-sm-4">
      <%= image_tag(@user.picture, alt: "avatar", size: "50x50") %>
    </div>
    <div class="col-sm-8">
      <br />
      <%= f.file_field :avatar, accept: 'image/jpeg,image/gif,image/png', id: 'uploader' %>  
    </div>
  <% end %>

  <%= f.submit yield(:form_button), class: "btn btn-primary" %>
<% end %>

<script type="text/javascript">
  $('#user_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB. Please choose a smaller file.');
    }
  });
</script>