<% provide(:title, "Get Involved") %>
<% provide(:form_button, 'Create my account') %>

<div class="jumbotron jumbotron-involved">
	<h1>Get Involved!</h1>
</div>

<div class="container signup">
	<h2 class="col-sm-offset-2">join as a new member</h2>

	<div class="col-sm-8 col-sm-offset-2">
		<div class="col-sm-5 signup-plugins">
			<h4>Sign up with social media or manually create a new account</h4>
			<div class="facebook-signup">
				<%= link_to image_tag("sign_up_facebook", alt: "Sign up Facebook", size: "250x50"	), "/auth/facebook", id: "sign_up_facebook" %> 
			</div>
			<div class="google-signup">
    			<%= link_to image_tag("sign_up_google", alt: "Sign up Google+", size: "250x48"),
    	 			"/auth/google", id: "sign_up_google" %>		
    	 	</div>
		</div>
		<div class="col-sm-7 signup-form">
			<%= form_for(@user, html: { multipart: true }, id: "info-form") do |f| %>
  				<% @object = @user %>
  				<%= render 'shared/error_messages' %>

  
  				<%= f.text_field :name, placeholder: 'name', class: 'form-control' %>
  				<%= f.email_field :email,placeholder: 'email', class: 'form-control' %>
  				<%= f.password_field :password, placeholder: 'password', class: 'form-control' %>
  				<%= f.password_field :password_confirmation, placeholder: 'password-confirmation', 
    				class: 'form-control' %>
  				<%= f.submit yield(:form_button), class: "btn btn-primary" %>
			<% end %>
		</div>
	</div>

</div>
