<% provide(:title, @user.name) %> 

<div class="container user-show">
  <div class="col-sm-4 user-details">
    <%= image_tag @user.picture, size: "250x250" %>
    <h2><%= @user.name %></h2>
    <% if @user.exec %>
      <p><i>Free the Children Executive</i></p>
    <% end %>
  </div>
  <div class="col-sm-8">
    <div class="container user-about">
      <h4><b>About:</b></h4>
      <% if @user.about == nil || @user.about.empty? %>
        <p>It looks like <%= @user.name %> prefers to keep an air of mystery about themselves.</p>
      <% else %>
        <p><%= @user.about %></p>
      <% end %>
    </div>
    <div class="container user-events">
      <% if current_user == @user %>
        <h3>My upcoming events</h3>
      <% else %>
        <h3><%= @user.name %> is attending:</h3>
      <% end %>
      <% if @events.empty? %>
        <p><%= @user.name %> has no upcoming events.</p>
      <% else %>
        <%= render partial: 'events/event', collection: @events %>
      <% end %>
      <%= link_to "See all events", events_path, class: 'btn btn-default' %>
    </div>
  </div>
</div>
