<!-- Partial for showing a single minor event. Each minor event on index page
is subject to this styling. -->

<div>
  <h3><%= link_to event.title, event %></h3>
  <p>Date: <%= Date::MONTHNAMES[event.start_time.month] %> <%= event.start_time.day %></p>
  <p><%= event.description[0..30] %>
    <% if event.description.length > 30 %>
      ...
    <% end %>
  </p>
  <% if logged_in? && !current_user.events.include?(event) %>
  	<%= link_to "Sign up", home_signup_path(event_id: event.id) %>
  <% elsif logged_in? && current_user.events.include?(event) %>
  	<%= link_to "Opt out of Event", home_optout_path(event_id: event.id) %>
  <% end %>
</div>