<!-- Partial for event form -->

<%= form_for(@event) do |f| %>
    <% @object = @event %>
    <%= render 'shared/error_messages' %>
    <%= f.text_field :title, placeholder: 'Title', class: 'form-control' %>
    <%= f.text_field :num_volunteers, 
    	placeholder: 'Number of Volunteers Required (Optional)', class: 'form-control' %>
    <%= f.text_field :duration, placeholder: 'Duration - Hours (Optional)', class: 
      	'form-control' %>
    <%= f.text_area :description, placeholder: 'Description', class: 'form-control' %>
    <%= f.label :date %>
    <%= f.date_select :start_time, class: 'form-control' %>
    <%= f.label :dance_challenge, class: 'checkbox inline' do %>
        <%= f.check_box :ee_challenge %>
        <span>Check if this event is the EE Dance Challenge</span>
    <% end %> 
    <%= f.label :vow_of_silence, class: 'checkbox inline' do %>
        <%= f.check_box :vow_silence %>
        <span>Check if this event is the Vow of Silence</span>
    <% end %> 
    <%= f.label :mini_we_day, class: 'checkbox inline' do %>
        <%= f.check_box :we_day %>
        <span>Check if this event is a Mini We Day</span>
    <% end %> 
    <%= f.submit yield(:submit_button), class: "btn btn-primary" %>
<% end %>