 <% provide(:title, "Events") %>

 <div class="jumbotron jumbotron-all-events">
	<h2><%= phrase('all-events-title') %></h2>
	<h3><%= link_to "Create New Event", new_event_path, class: "btn btn-primary" %></h3>
 </div>
 <div class="container center events-calendar">
 	<%= month_calendar(events: @events) do |date, events| %>
		<% #date %>
		<% #day = date.day %>
		<%= date.day %>

		<% events.each do |event| %>
			<div>
				<%= link_to event.title, event_path(event) %>
			</div>
		<% end %>
 	<% end %>
 </div>
 <div class="jumbotron jumbotron-fundraising">
 	<h2><%= phrase('fundraising-progress-header') %></h2>
 </div>
 <div class="container fundraising" id="fundraising">
 	<% if admin? %>
	 	<%= render 'fundraisers/new_fundraiser_modal' %>
	<% end %>
 	<div class="container center fundraiser">
 			<%= render partial: 'fundraisers/fundraiser', collection: @fundraisers %>	
 	</div>
 </div>

