 <% provide(:title, "Events") %>

 <div class="jumbotron jumbotron-all-events">
	<h2><%= phrase('all-events-title') %></h2>
	<% if admin? %>
		<h3><%= link_to "Create New Event", new_event_path, class: "btn btn-primary" %></h3>
	<% end %>
 </div>
 <div class="container center events-calendar">
 	<%= month_calendar(events: @events) do |date, events| %>
		<% #date %>
		<% #day = date.day %>
		<%= date.day %>

		<% events.each do |event| %>
			<div>
				<%= link_to event.title, event_path(event) %>
			</div>
		<% end %>
 	<% end %>
 </div>
 <div class="jumbotron jumbotron-fundraising">
 	<h2><%= phrase('fundraising-progress-header') %></h2>
 </div>
 <div class="container fundraising" id="fundraising">
 	<% if admin? %>
	 	<%= render 'fundraisers/new_fundraiser_modal' %>
	<% end %>
 	<div class="container center fundraiser">
 			<%= render partial: 'fundraisers/fundraiser', collection: @fundraisers %>	
 	</div>
 </div>
 <div class="center container-fluid event-background">
	<h1><%= phrase('ee-dance-challenge-header') %></h1>	
	<p><%= phrase('ee-dance-challenge-description') %></p>
	
	<div class="col-sm-6 center upcoming">
		<h3><%= phrase('ee-upcoming-event-info') %></h3>
		<p><%= phrase('ee-where-info') %></p>
		<p><%= phrase('ee-when-info') %></p>
    	<% if logged_in? && @ee_challenge_event %>
		  <%= link_to "Sign up now!", event_path(@ee_challenge_event), class: "btn btn-lg btn-primary" %> 
    	<% end %>
	</div>
	<div class="col-sm-6">
		<%= image_tag('edc2.png', size:"400x300") %>
	</div>
  </div>

