<li class="dropdown">
  <a class="dropdown-toggle" data-toggle="dropdown" href="#">Events
  <span class="caret"></span></a>
  <ul class="dropdown-menu">
    <li><%= link_to "Vow of Silence",  '/events#vos' %></li>
    <li><%= link_to "Evolution Endurance Dance Challenge",   '/events#ee-dance-challenge' %></li>
    <li><%= link_to "Mini We Day",  '/events#mini-we-day' %></li>
    <li><%= link_to "Fundraisers",  '/events#fundraiser' %></li>
    <li class="divider"></li>
    <li><%= link_to "All Events",  events_path %></li>
  </ul>
</li>