  <!-- Global header to be inherited by every page on the site -->
	<header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
      	<div class="navbar-header">
      	  <%= link_to "FtC UBC", root_path, id: "logo", class: "navbar-brand" %>	
      	</div>
        <nav>
          <ul class="nav navbar-nav">
          	<li><%= link_to "Home",  root_path %></li>
          	<li class="dropdown">
      		    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Events
        	    <span class="caret"></span></a>
        	    <ul class="dropdown-menu">
        		    <li><%= link_to "Global Events Page",  events_path %></li>  	
          		  <li><%= link_to "Main Event 1",   '#' %></li>
          		  <li><%= link_to "Main Event 2",   '#' %></li>
          		  <li><%= link_to "Main Event 3",   '#' %></li>
        	    </ul>
      		  </li>
            <li><%= link_to "Calendar",   '#' %></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Join",   getinvolved_path %></li>
            <li><%= link_to "Log in", '#' %></li>
          </ul>
        </nav>
      </div>
    </header>